@import "tailwindcss";

@layer base {
  :root {
    --radius: 0.5rem;

    /* Fonts */
    --bebas-neue: "Bebas Neue", sans-serif;

    /* Custom colors */
    --color-primary: #e7c9a5;
    --color-primary-admin: #25388c;

    --color-green: #027a48;
    --color-green-100: #ecfdf3;
    --color-green-400: #4c7b62;
    --color-green-500: #2cc171;
    --color-green-800: #027a48;

    --color-red: #ef3a4b;
    --color-red-400: #f46f70;
    --color-red-500: #e27233;
    --color-red-800: #ef3a4b;

    --color-blue-100: #0089f1;

    --color-light-100: #d6e0ff;
    --color-light-200: #eed1ac;
    --color-light-300: #f8f8ff;
    --color-light-400: #edf1f1;
    --color-light-500: #8d8d8d;
    --color-light-600: #f9fafb;
    --color-light-700: #e2e8f0;
    --color-light-800: #f8fafc;

    --color-dark-100: #16191e;
    --color-dark-200: #3a354e;
    --color-dark-300: #232839;
    --color-dark-400: #1e293b;
    --color-dark-500: #0f172a;
    --color-dark-600: #333c5c;
    --color-dark-700: #464f6f;
    --color-dark-800: #1e2230;

    --color-gray-100: #cbd5e1;

    /* Shadcn UI Variables */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .hide-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .hide-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .hide-scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}

@layer components {
  .form-btn {
    @apply inline-flex min-h-14 w-full items-center justify-center rounded-md px-6 py-2 font-bold text-base;
    background-color: var(--color-primary);
    color: var(--color-dark-100);
  }

  .form-btn:hover {
    background-color: var(--color-primary);
  }

  .form-input {
    @apply w-full min-h-14 border-none text-base font-bold placeholder:font-normal text-white focus-visible:ring-0 focus-visible:shadow-none;
    background-color: var(--color-dark-300);
  }

  .form-input::placeholder {
    font-weight: 400;
    color: var(--color-light-100);
  }

  /* Book Card */
  .book-title {
    @apply mt-2 line-clamp-1 text-base font-semibold text-white;
  }

  @media (min-width: 480px) {
    .book-title {
      @apply text-xl;
    }
  }

  .book-genre {
    @apply mt-1 line-clamp-1 text-sm italic;
    color: var(--color-light-100);
  }

  @media (min-width: 480px) {
    .book-genre {
      @apply text-base;
    }
  }

  .book-loaned {
    @apply flex flex-row items-center gap-1;
  }

  @media (max-width: 479px) {
    .book-loaned {
      @apply justify-center;
    }
  }

  .book-btn {
    @apply mt-3 min-h-14 w-full text-base;
    font-family: var(--bebas-neue);
    background-color: var(--color-dark-600);
    color: var(--color-primary);
  }

  /* Borrowed Book */
  .borrowed-book {
    @apply p-5 rounded-2xl w-full relative;
    background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
  }

  @media (min-width: 480px) {
    .borrowed-book {
      width: min-content;
    }
  }

  .borrowed-book_cover {
    @apply py-4 px-10 flex justify-center items-center w-full rounded-lg;
  }

  @media (min-width: 1024px) {
    .borrowed-book_cover {
      @apply px-16;
    }
  }

  /* Book Cover Sizes */
  .book-cover_extra_small {
    @apply w-[28.95px] h-10;
  }

  .book-cover_small {
    @apply w-[55px] h-[76px];
  }

  .book-cover_medium {
    @apply w-[144px] h-[199px];
  }

  .book-cover_regular {
    @apply w-[114px] h-[169px];
  }

  @media (min-width: 480px) {
    .book-cover_regular {
      @apply w-[174px] h-[239px];
    }
  }

  .book-cover_wide {
    @apply w-[256px] h-[354px];
  }

  @media (min-width: 480px) {
    .book-cover_wide {
      @apply w-[296px] h-[404px];
    }
  }

  /* Book List */
  .book-list {
    @apply mt-10 flex flex-wrap gap-5;
  }

  @media (max-width: 479px) {
    .book-list {
      @apply justify-between;
    }
  }

  @media (min-width: 480px) {
    .book-list {
      @apply gap-10;
    }
  }

  /* Book Overview */
  .book-overview {
    @apply flex flex-col-reverse items-center gap-12;
  }

  @media (min-width: 640px) {
    .book-overview {
      @apply gap-32;
    }
  }

  @media (min-width: 1280px) {
    .book-overview {
      @apply flex-row gap-8;
    }
  }

  .book-overview h1 {
    @apply text-5xl font-semibold text-white;
  }

  @media (min-width: 768px) {
    .book-overview h1 {
      @apply text-7xl;
    }
  }

  .book-info {
    @apply mt-7 flex flex-row flex-wrap gap-4 text-xl;
    color: var(--color-light-100);
  }

  .book-copies {
    @apply flex flex-row flex-wrap gap-4 mt-1;
  }

  .book-copies p {
    @apply text-xl;
    color: var(--color-light-100);
  }

  .book-copies p span {
    @apply ml-2 font-semibold;
    color: var(--color-primary);
  }

  .book-description {
    @apply mt-2 text-justify text-xl;
    color: var(--color-light-100);
  }

  .book-overview_btn {
    @apply mt-4 min-h-14 w-fit max-md:w-full;
    background-color: var(--color-primary);
    color: var(--color-dark-100);
  }

  .book-overview_btn:hover {
    background-color: #d4b893;
  }

  /* File Upload */
  .upload-btn {
    @apply flex min-h-14 w-full items-center justify-center gap-1.5 rounded-md;
  }

  .upload-filename {
    @apply mt-1 text-center text-xs;
  }

  .progress {
    @apply rounded-full p-0.5 text-center text-[8px] font-bold leading-none;
    font-family: var(--bebas-neue);
    background-color: var(--color-green-800);
    color: var(--color-light-100);
  }

  /* Search */
  .search {
    @apply relative mt-10 flex min-h-14 w-full items-center rounded-xl px-4;
    background-color: var(--color-dark-300);
  }

  .search-input {
    @apply w-full border-none font-bold placeholder:font-normal text-white focus-visible:ring-0 focus-visible:shadow-none;
  }

  .search-input::placeholder {
    font-weight: 400;
    color: var(--color-light-100);
  }

  /* Book Receipt */
  .book-receipt_admin-btn {
    @apply rounded-md font-semibold;
    background-color: var(--color-light-300);
    color: var(--color-primary-admin);
  }

  .book-receipt_admin-btn:hover {
    background-color: #f8f8ffcc;
  }

  /* Book Ticket */
  #book-ticket {
    @apply relative mt-10 hidden w-[544px] overflow-hidden py-8;
    background-color: var(--color-dark-300);
  }

  #book-ticket #book-details div {
    @apply space-y-1 rounded-md p-3;
    border: 1px solid #d6e0ff1a;
  }

  #book-ticket #book-details div p:first-child {
    @apply text-xs;
    color: var(--color-light-700);
  }

  #book-ticket #book-details div p:last-child {
    @apply text-sm font-bold text-white;
  }

  #book-ticket #book-divider div:first-child {
    @apply absolute -left-3.5 top-1/2 size-7 -translate-y-1/2 rounded-full bg-black;
  }

  #book-ticket #book-divider div:last-child {
    @apply absolute -right-3.5 top-1/2 size-7 -translate-y-1/2 rounded-full bg-black;
  }

  .book-ticket-circles {
    @apply absolute inset-x-0 -bottom-6 flex flex-row gap-1.5;
  }

  /* Not Found */
  #not-found {
    @apply flex justify-center items-center flex-col text-center w-full;
  }

  #not-found h4 {
    @apply text-white mt-6 font-semibold text-2xl;
  }

  #not-found p {
    @apply w-[360px] mt-1;
    color: var(--color-light-100);
  }

  .not-found-btn {
    @apply min-w-[360px] mt-6 text-xl min-h-12;
    font-family: var(--bebas-neue);
    background-color: var(--color-primary);
    color: var(--color-dark-100);
  }

  .not-found-btn:hover {
    background-color: #d4b893;
  }

  /* Pagination */
  #pagination {
    @apply flex flex-row justify-end gap-3;
  }

  .pagination-btn_light {
    @apply text-sm inline-flex items-center font-semibold px-4 py-1.5 rounded-md text-center;
    background-color: var(--color-light-300);
    color: var(--color-dark-300);
  }

  .pagination-btn_light:hover {
    background-color: #f8f8ffb3;
  }

  .pagination-btn_dark {
    @apply text-sm inline-flex items-center font-semibold px-4 py-1.5 rounded-md text-center;
    background-color: var(--color-dark-300);
  }

  .pagination-btn_dark:hover {
    background-color: var(--color-dark-100);
  }

  #pagination p {
    @apply text-sm inline-flex items-center font-semibold px-4 py-1.5 rounded-md text-center;
  }

  /* Sort */
  .select-trigger {
    @apply w-40 h-10 px-4;
    background-color: var(--color-dark-300);
    color: var(--color-light-100);
    border-color: var(--color-dark-100);
  }

  .select-content {
    background-color: var(--color-dark-300);
    color: var(--color-light-100);
    border-color: var(--color-dark-100);
  }

  .select-item:focus {
    background-color: var(--color-dark-600);
    color: var(--color-light-100);
  }
}

@layer utilities {
  .gradient-vertical {
    background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
  }

  .gradient-gray {
    background: linear-gradient(270deg, #37363a 0%, #353637 100%);
  }

  .gradient-blue {
    background: linear-gradient(180deg, #232839 0%, #12141d 100%);
  }

  /* Auth */
  .auth-container {
    @apply relative flex flex-col-reverse;
    color: var(--color-light-100);
  }

  @media (min-width: 640px) {
    .auth-container {
      @apply flex-row;
    }
  }

  .auth-form {
    @apply my-auto flex h-full min-h-screen flex-1 items-center bg-cover bg-top px-5 py-10;
    background-image: url("/images/pattern.webp");
    background-color: var(--color-dark-100);
  }

  .auth-box {
    @apply mx-auto flex max-w-xl flex-col gap-6 rounded-lg p-10;
    background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
  }

  .auth-illustration {
    @apply sticky h-40 w-full;
  }

  @media (min-width: 640px) {
    .auth-illustration {
      @apply top-0 h-screen flex-1;
    }
  }

  /* Root */
  .root-container {
    @apply flex min-h-screen flex-1 flex-col bg-cover bg-top px-5;
    background-image: url("/images/pattern.webp");
    background-color: var(--color-dark-100);
  }

  @media (min-width: 480px) {
    .root-container {
      @apply px-10;
    }
  }

  @media (min-width: 768px) {
    .root-container {
      @apply px-16;
    }
  }

  /* Book Details */
  .book-details {
    @apply mt-16 mb-20 flex flex-col gap-16;
  }

  @media (min-width: 1024px) {
    .book-details {
      @apply mt-36 flex-row;
    }
  }

  .book-details h3 {
    @apply text-xl font-semibold;
    color: var(--color-primary);
  }

  /* Library */
  .library {
    @apply mx-auto flex max-w-xl w-full flex-col text-center;
  }

  .library-subtitle {
    @apply text-lg font-semibold uppercase;
    color: var(--color-light-100);
  }

  .library-title {
    @apply mt-2 text-3xl font-semibold text-white;
  }

  @media (min-width: 480px) {
    .library-title {
      @apply text-5xl;
    }
  }
}
